@import './base.css';

#app {
  max-width: 1600px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

.module {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 25px;
  padding: 25px;
  display: flex;
  flex-direction: column;
}

@media (hover: hover) {
  a:hover {
    background-color: orange
  }
}